@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
	font-family: 'Roboto', sans-serif;
	text-align: center;
	color: aliceblue !important;
}

.headerimg {
	width: 25px;
	height: 25px;
	margin-right: 10px;
}

.number {
    text-transform:uppercase;
    right:10px;
}

.photo{
    width:90%;
}
